#set($layout="shell/me.vm")
#set($user=$core.user())
<a href="/">iPerl首页</a> » <a href="/me">后台管理</a> » 个人信息修改
<hr class="cut-hr mt5 mb5" />

<form id="frm" method="post" action="/action/user/profile">
	<div class="line">
		<span>登录ID：</span>
		<input type="text" name="ident" id="ident" value="${user.ident}">
		这将是您以后登录用的唯一凭证，只允许字母和数字
    </div>
	<div class="line">
		<span>用户昵称：</span>
		<input type="text" name="nickname" id="nickname" value="$!{user.nickname}">
    </div>
	<div class="line">
		<span>个性签名：</span>
		<input type="text" name="resume" id="resume" style="width:800px;" value="$!{user.resume}">
    </div>
	
	<div class="line">
		<span>&nbsp</span>
		<button type="submit"> 修改 </button>
	</div>
</form>

<script type="text/javascript">
<!--
var pwd="";
$('#frm').bind('form-pre-serialize', function(event,form,options,veto){
});
$('#frm').ajaxForm({
    beforeSubmit: function(a,f,o) {
		if($('#ident').val().length == 0){
			alertMsgCallback("ID忘记填写喽~",function(){$('#ident').focus();});
			return false;
		}
    },
	dataType:'json',
    success: function(json) {
    	if(json.msg.length > 0){
			$('#pwd').val(pwd);
    		alertMsg(json.msg);
    	}else{
    		alertMsg('修改成功');
    	}
    }
});
//-->
</script>
