#set($user = $core.user())
#set($show_name = ${user.ident})
#if(${user.nickname})
	#set($show_name = ${user.nickname})
#end
<div id="banner" class="mt5">
	<div class="login fr">
    	#if($user)
		Hello，<a href="/about/${user.ident}">$show_name</a>，
		<a href="/me">后台管理</a>，
		<a href="/me/blog/post">发表博文</a>，
		<a rel="nofollow" href="/action/user/logout">退出</a>
    	#else
    	<a rel="nofollow" href="/home/reg">注册</a><span class="cut-line">|</span><a rel="nofollow" href="/home/login">登陆</a>
    	#end
    </div>
	<div class="logo fl mt10">
		<a href="/"><img src="/img/camel.png"/></a>
	</div>
	<div class="logorig">
    	<div class="menu">
    		<a href="/">首页</a>
    		<span class="cut-line">|</span>
    		<a target="_blank" href="https://github.com/UlricQin/TBlog">本站源码</a>
    		<span class="cut-line">|</span>
    		<a target="_blank" href="/genius">牛人博客</a>
        </div>
    	<div class="sign mt5">
    		互联网散兵，关注自动化运维，持续集成，持续交付。靠Java、php、Perl招摇撞骗...
        </div>
	</div>
	<div class="clear"></div>
</div>
<div class="mt5 mb5" ></div>