<link type="text/css" rel="stylesheet" href="/css/c.css" />
<link type="text/css" rel="stylesheet" href="/css/prettify.css" />
<link type="text/css" rel="stylesheet" href="/js/art/skins/black.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/art/artDialog.min.js"></script>
<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript" src="/js/m.js"></script>